form{
    text-align: left;
    font-size: 20px;
    margin: 1% auto;
    width: 30%;
    border: 2px black solid;
    padding: 2%;
    border-radius: 9px;
    border-color: rgb(209, 219, 227);
}
input[type=text]{
    width: 100%;
    border: none;
    font-size: 20px;
}

input[type=password]:focus {
    outline: none;
}
input[type=password]{
    width: 100%;
    border: none;
    font-size: 20px;
}

input[type=text]:focus {
    outline: none;
}
a{
    text-decoration: none;
    color: blue;
}
.next{
  color: white;
}
.fieldp{
    display: flex;
    justify-content: space-between;
}

.google{
  letter-spacing: -4px;
  font-weight: normal;
}
.head1 {
    font-weight: normal;
}
fieldset{
    padding: 0% 5%;
    padding-bottom: 2%;
    border-radius: 7px;
    border-color: blue;
}
legend{
    padding-left: 10px;
    padding-right: 10px;
    color: blue;
}

.flex-contianer {
    display: flex;
    justify-content: space-between;
    padding: 10% auto;
  }
  
  .left-btn {
    align-items: left;
    width: 200px;
    font-size: 20px;
    color: blue;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
  }
  .left-btn:hover{
    background-color: rgb(209, 230, 246);
  }
  
  .right-btn {
    font-size: 20px;
    padding: 10px 20px;
    margin-right: 1%;
    background-color: rgb(59, 59, 254);
    color: aliceblue;
    border: none;
    border-radius: 7px;
  }
  .right-btn:hover{
    background-color: rgb(13, 22, 146);
  }